<!DOCTYPE html>
<html layout:decorator="layout">
<head>
	<title>Create answer.</title>
</head>
<body>
<main layout:fragment="main">
<section>
	<h2>Add new pool to exam.</h2>
	<form method="POST">
		<fieldset>
			<legend>Operation parameters.</legend>
			<input type='hidden' name='exam_id' value='id of exam to add pool to' />
			<input type='hidden' name='pool_id' value='id of pool to add' />
			<label>
				Quantity of task to fetch from the pool.
				<input type='text' name='quantity' value='Quantity of tasks to fetch from the pool.' />
			</label>
			<input type='submit' /> 
		</fieldset>
	</form>
</section>
</main>
</body>
</html>