<!DOCTYPE html>
<html>
<head>
	<title layout:title-pattern="$DECORATOR_TITLE | $CONTENT_TITLE" >Application.</title>
	<link rel='stylesheet' type='text/css' data-th-href='@{/css/layout.css}'/>
</head>
<body>
	<article>
		<header>
			<h1>Propitious-octo-waddle.</h1>
		</header>
		<nav>
			<a href='accounts/create'>Sign up.</a>
			<a href='sessions/create'>Log in.</a>
			<a href='sessions/destroy'>Log out.</a>
			<a href='tasks/retrieve'>Tasks.</a>
			<a href='pools/retrieve'>Pools.</a>
			<a href='exams/retrieve'>Exams.</a>
		</nav>
		<main layout:fragment="main" >
			Some random text here.
		</main>
		<aside layout:fragment="aside">
		</aside>
		<footer>
			wbondarenko@programmer.net 2015
		</footer>
	</article>
</body>
</html>