<!DOCTYPE html>
<html>
<head>
	<title>Create answer.</title>
</head>
<body>
<main>
<section>
	<h2>Create task.</h2>
	<form method="POST">
		<fieldset>
			<legend>Task parameters.</legend>
			<label>
				Title of the behaviour.
				<input type='text' name='behaviour' />
			</label>
			<label>
				Description of the task.
				<textarea name='description' cols='100' rows='36'>
					
				</textarea>
			</label>
		</fieldset>
		<fieldset>
			<legend>Task options.</legend>
			<fieldset>
				<legend>Option parameters.</legend>
				<label>
					Message.
					<input type='text' name='description' />
				</label>
				<label>
					Amount of points this option worths.
					<input type='number' name='reward' />
				</label>
			</fieldset>
			<fieldset>
				<legend>Option parameters.</legend>
				<label>
					Message.
					<input type='text' name='description' />
				</label>
				<label>
					Amount of points this option worths.
					<input type='number' name='reward' />
				</label>
			</fieldset>
			<fieldset>
				<legend>Option parameters.</legend>
				<label>
					Message.
					<input type='text' name='description' />
				</label>
				<label>
					Amount of points this option worths.
					<input type='number' name='reward' />
				</label>
			</fieldset>
			<fieldset>
				<legend>Option parameters.</legend>
				<label>
					Message.
					<input type='text' name='description' />
				</label>
				<label>
					Amount of points this option worths.
					<input type='number' name='reward' />
				</label>
			</fieldset>
			<fieldset>
				<legend>Option parameters.</legend>
				<label>
					Message.
					<input type='text' name='description' />
				</label>
				<label>
					Amount of points this option worths.
					<input type='number' name='reward' />
				</label>
			</fieldset>
		</fieldset>
		<fieldset>
			<legend>Confirmation of task creation.</legend>
			<input type='submit'/>
		</fieldset>
	</form>
</section>
</main>
</body>
</html>