<!DOCTYPE html>
<html layout:decorator="layout">
<head>
	<title>Create answer.</title>
</head>
<body>
<main layout:fragment="main">
<section>
	<h2>Create option.</h2>
	<form method="POST">
		<fieldset>
			<legend>Option parameters.</legend>
			<input type='hidden' name='task_id' value='id of task to add option to' />
			<label>
				Message.
				<input type='text' name='description' />
			</label>
			<label>
				Amount of points this option worths.
				<input type='number' name='reward' />
			</label>
			<input type='submit' />
		</fieldset>
	</form>
</section>
</main>
</body>
</html>