<!DOCTYPE html>
<html>
<head>
	<title>Create answer.</title>
</head>
<body>
<main>
<section>
	<h2>Update option.</h2>
	<form method="POST">
		<fieldset>
			<legend>Option parameters.</legend>
			<input type='hidden' name='id' value='id of the option to update' />
			<label>
				Message.
				<input type='text' name='description' />
			</label>
			<label>
				Amount of points this option worths.
				<input type='number' name='reward' />
			</label>
			<input type='submit' />
		</fieldset>
	</form>
</section>
</main>
</body>
</html>